<!-- <div class="text-center btn-group">
    
        <a href="https://imgs.search.brave.com" class="btn btn-primary active" aria-current="page">home link</a>
        <a href="https://tiles.search.com" class="btn btn-danger">menu</a>
        <a href="https://cdn.search.brave.com/serp/v2/_app/immutable/assets/Snippet.BzCH9TSd.css" class="btn btn-warning">back</a>
      </div>-->
      <nav class="navbar navbar-expand-lg bg-body-tertiary"> 
        <div class="container-fluid">
         
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
          <a class="navbar-brand" href=" http://localhost:4200/about">About</a>
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/contact">contact</a>
              <a class="nav-link" href=" http://localhost:4200/home">Home</a>
             
            </div>
          </div>
        </div>
      </nav>
    
