
<footer class="svelte-elswzx">
    <div class="column-layout noscrollbar svelte-bd1r44">
        <div class="cols svelte-bd1r44">
            <main class="main-column svelte-bd1r44">
                <div class="content svelte-elswzx">
                    <div class="block desktop-small-regular svelte-elswzx">
                        <h6 class="header desktop-default-semibold svelte-elswzx">Resources</h6>
                        <div class="flex-col svelte-elswzx">
                            <a
                                href="https://account.brave.com/?intent=checkout&amp;product=search"
                                rel="noopener noreferrer" target="_self" class="svelte-elswzx">Brave Search Premium</a>
                            <a href="/help" data-sveltekit-reload="" class="svelte-elswzx">Brave Search Help</a>
                             <a
                                href="https://brave.com/transparency/" class="svelte-elswzx">Transparency Report</a> <a
                                target="_self" rel="noopener noreferrer" href="https://hackerone.com/brave"
                                class="svelte-elswzx">Report a security issue</a><br> <a href="https://status.brave.com/"
                                class="svelte-elswzx">Status</a><br></div>
                    </div>
                    <div class="block desktop-small-regular svelte-elswzx">
                        <h6 class="header desktop-default-semibold svelte-elswzx">Products</h6>
                        <div class="grid-2-col svelte-elswzx"><a
                                href="https://brave.com/download/?mtm_source=brave-search&amp;mtm_medium=searchfooter&amp;mtm_campaign=brave-search&amp;mtm_content=evergreen"
                                class="svelte-elswzx">Brave Browser</a><br> <a href="https://search.brave.com"
                                class="svelte-elswzx">Brave Search</a><br> <a
                                href="https://brave.com/wallet/?mtm_source=brave-search&amp;mtm_medium=searchfooter&amp;mtm_campaign=brave-search&amp;mtm_content=evergreen"
                                class="svelte-elswzx">Brave Wallet</a> <br><a
                                href="https://talk.brave.com/?mtm_source=brave-search&amp;mtm_medium=searchfooter&amp;mtm_campaign=brave-search&amp;mtm_content=evergreen"
                                class="svelte-elswzx">Brave Talk</a><br> <a
                                href="https://brave.com/firewall-vpn/?mtm_source=brave-search&amp;mtm_medium=searchfooter&amp;mtm_campaign=brave-search&amp;mtm_content=evergreen"
                                class="svelte-elswzx">Brave Firewall + VPN</a><br> <a
                                href="https://brave.com/playlist/?mtm_source=brave-search&amp;mtm_medium=searchfooter&amp;mtm_campaign=brave-search&amp;mtm_content=evergreen"
                                class="svelte-elswzx">Brave Playlist</a> <br>
                                <a
                                href="https://brave.com/brave-news/?mtm_source=brave-search&amp;mtm_medium=searchfooter&amp;mtm_campaign=brave-search&amp;mtm_content=evergreen"
                                class="svelte-elswzx">Brave News</a><br> <a
                                href="https://brave.com/brave-rewards/?mtm_source=brave-search&amp;mtm_medium=searchfooter&amp;mtm_campaign=brave-search&amp;mtm_content=evergreen"
                                class="svelte-elswzx">Brave Rewards</a> <br><a
                                href="https://brave.com/search/api/?mtm_source=brave-search&amp;mtm_medium=searchfooter&amp;mtm_campaign=brave-search&amp;mtm_content=evergreen"
                                class="svelte-elswzx">Brave Search API</a> <br><a
                                href="https://brave.com/brave-ads/?mtm_source=brave-search&amp;mtm_medium=searchfooter&amp;mtm_campaign=brave-search&amp;mtm_content=evergreen"
                                class="svelte-elswzx">Brave Ads</a><br></div>
                    </div>
                    <div class="block desktop-small-regular svelte-elswzx">
                        <h6 class="header desktop-default-semibold svelte-elswzx">Policies</h6>
                        <div class="flex-col svelte-elswzx"><a href="/help/privacy-policy" data-sveltekit-reload=""
                                class="svelte-elswzx">Privacy Policy</a> <a href="https://brave.com/terms-of-use/"
                                class="svelte-elswzx">Terms of Use</a></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</footer>