/* 
body {
  font-size: 0.8rem;
  /* Reduced font size */
  /*
}

 .sidebar {
  background-color: #f8f9fa;
  font-size: 0.8rem;
}

.content {
  background-color: #ffffff;

  border-radius: 5px;
}

.content table {
  width: 100%;
  margin-top: 15px;
} */
.sidebar {
padding: 10px 15px;
text-decoration: none;
display: block;
border-bottom: 1px solid #eee;
height:50px;


} 
